@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
}

.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1400px;
}
ul{
    list-style: none;
}
.btn{
    padding: 7px 15px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}
.btn-solid{
    background-color: rgb(56, 56, 212);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-wrap: nowrap;
}
.btn-update{
    background-color: #eee;
    color: blue;
    cursor: pointer;
}
.btn-delete{
    cursor: pointer;
    color: red;
    background-color: #eee;
}
.btn-update i, .btn-delete i, .checkbox i{
    font-size: 25px;
}
.btn:active{
    transform: scale(.9);
}
header .header-content{
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
    font-weight: 700;
    color: #555;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
header .theme{
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: #333;
}
header .theme:active{
    transform: scale(0.9);
}
body.dark-light{
    background-color: #0f0225;
}
body.dark-light .btn{
    background-color: #180634;
}
body.dark-light .main-content .date{
    color: #fff;
}
body.dark-light .header-content,
body.dark-light .main-content ul{
    color: #fff;
}
body.dark-light .main-content ul{
    background-color: #170732;
}
body.dark-light .main-content ul li{
    background-color: #22094e;
    color: #fff;
}
body.dark-light .btn-solid{
    background-color: rgb(56, 56, 212);
}
body.dark-light .main-content ul li h2{
    color: #fff;
}

body.dark-light ul li .task-text .checkbox{
    color: transparent;
}
body.dark-light ul li .task-text .checkbox.active{
    color: #fff;
}
header .theme i{
    font-size: 25px;
}
.main-content{
    margin-top: 50px;
}
.main-content .main-header form{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main-content .main-header form div{
    width: 100%;
}
.main-content .main-header form div span{
    font-size: 12px;
    color: red;
    display: none;
}
.main-content .main-header form div input{
    width: 100%;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 10px 10px;
}
.time-section{
    text-align: center;
    margin: 30px 0;
}
.time-section .time{
    font-size: 40px;
    font-weight: 600;
    color: rgb(56, 56, 212);
}
.main-content ul{
    background-color: #f7d4d4;
    border-radius: 10px;
    padding: 20px;
    margin: 40px 0;
}
.main-content ul li{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
}
.main-content ul>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 600;

}
ul >div i{
    font-size: 60px;
    color: #a08181;
}
.main-content ul li .task-text {
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-content ul li .task-btns{
    display: flex;
    align-items: center;
    gap: 5px;
}
ul li .task-text .checkbox{
    border: 2px solid rgb(56, 56, 212);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.checkbox.active{
    background-color: rgb(56, 56, 212);
    color: white;
}
.checkbox.active +div h2{
    text-decoration: line-through;
}
.task-text h2{
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    width: 500px;
    z-index: 1;
}
.modal .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.modal .modal-header span{
    font-weight: 600;
}
.modal .modal-header i{
    font-size: 30px;
    padding: 5px;
}
.modal .modal-header i:hover{
    cursor: pointer;
    
}
.modal .modal-header i:active{
    background-color: rgb(56, 56, 212);
    opacity: 0.7;
    border-radius: 5px;
}
.modal .modal-content{
    width: 100%;
}
.modal .modal-content input{
    width: 100%;
    outline: none;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 10px 10px;
}
.modal .modal-content form{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    padding: 20px 0;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}

.hidden{
    display: none;
}

@media screen and (max-width : 500px) {
    .container{
        width: 90%;
    }
    .main-content ul{
        padding: 10px;
    }
    .main-content ul li{
        padding: 10px;
    }
    .modal{
        width: 300px;
    }
}